ul.logos {
	display: block;
	float: right;
	padding: 0 0 0 0;
	margin: 180px 16px 0 0;
}

ul.logos li {
	margin: 0 4px 0 0;
	padding: 0 0 0 0;
	height: 40px;
	display: block;
	float: left;
}

li.globus {
	width: 96px;
	background:url(globuslogo@2x.png) no-repeat right center;
}

li.hglobus {
	width: 136px;
	background:url(herrenglobuslogo_fr@2x.png) no-repeat right center;
}