ul.logos {
	display: block;
	float: right;
	padding: 0 0 0 0;
	margin: 83px 8px 0 0;
}

ul.logos li {
	margin: 0 2px 0 0;
	padding: 0 0 0 0;
	height: 20px;
	display: block;
	float: left;
}

li.globus {
	width: 48px;
	background:url(globuslogo.png) no-repeat right center;
}

li.hglobus {
	width: 68px;
	background:url(herrenglobuslogo.png) no-repeat right center;
}


/* Detect iOS Retina Display */
@media screen and (-webkit-device-pixel-ratio: 2) 
{
    li.globus {
		 -webkit-background-size: 48px auto;
		background:url(globuslogo@2x.png) no-repeat right center;
		background-size: 100%;
	}

	li.hglobus {
		-webkit-background-size: 68px auto;
		background:url(herrenglobuslogo@2x.png) no-repeat right center;
		background-size: 100%;
	}
}