//
//  Stage.xcconfig
//  Globus
//
//  Created by Marko Tadic on 8/1/16.
//  Copyright © 2016 appculture. All rights reserved.
//

// App
BundleIdentifier = com.appculture.globus-stage
DisplayName = Globus STA
AppIcon = AppIcon-Stage

// Backend
ServerAddress = stage.appculture.com

// Services
MixpanelToken = xxx
